{% extends 'base_simple.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ 'header.maintenance' | trans | capitalize }}</h1>
        </div>
    </div>

{% endblock %}